div.cursors div{
  height: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

div.cursors div span{
  will-change: transform;
  width: 100px;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  z-index: 10000;
  pointer-events: none;
  transform: translate(0%, 100%);
}

div.cursors div span#image-count {
  will-change: transform;
  position: absolute;
  transform: translate(0%, 180%);
}