body {
  margin: 0;
}

h1, h2, h3, h4, p {
  font-family: 'DM Sans', sans-serif;
}

.my-name {
  padding: 2.5rem;
}

.main-container {
  position: relative;
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-rows: 1fr 11fr;
  gap: 1rem;
  height: 100vh;
  z-index: 2;
  align-items: center;
}

.container-top-overlay {
  height: 100%;
  display: grid;
}

.container-top {
  position: sticky;
  top: 0px;
  background: linear-gradient(to top, rgba(255,255,255,0.1), white);
  box-shadow: 0 0 15px 15px rgba(255,255,255,0.1);
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  z-index: 9999; /* Bring it to the top */
}

.container-page {
  display: grid;
  grid-template-columns: 1fr 7fr 4fr;
  height: 100%;
  gap: 1rem;
}

.content-container {
  padding: 1rem;
  justify-content: center;
  align-content: center;

}

.side-pane-overlay {
  background-color: antiquewhite;
  justify-content: center;
  align-content: center;
}

.container-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.side-align {
  transform: translateY(-85px);
  text-align: center;
}

.info-text {
  border: 4px dotted red;
}

.project-description {
  font-size: large;
  text-align:initial;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 12rem ;
}


.item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
}

.name {
  margin-bottom: 2px;
  color: #8c52ff;
}

.occupation {
  font-style: italic;
  margin-top: 2px;
}

main#carouselo {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 900px;
  --items: 3;
  --middle: 2;
  --position: 1;
  pointer-events: none;
}

div.item {
  text-align: center;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  position: absolute;
  width: 300px;
  height: 250px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateX(calc(-10deg * var(--r)))
  translateY(calc(-100px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

